{% extends "base.html" %}

{% block title %}
About CatchCASH
{% endblock %}

{% block content %}
<div class="row h-100 align-items-center justify-content-center">
    <div class="col-md-8">
        <h2>About CatchCASH</h2>
        <p>
            CatchCASH, เว็บไซต์นี้เป็นเครื่องมือสำหรับช่วยให้ผู้ใช้งานสามารถบันทึกรายรับและรายจ่ายในชีวิตประจำวัน
            เพื่อติดตาม วิเคราะห์ และควบคุมการใช้เงินของคุณ เว็บไซต์นี้ให้ความสำคัญกับความใช้งานง่าย
            รวดเร็ว และเพิ่มแรงจูงใจในการเก็บเงินของผู้ใช้
        </p>

        <h3>Features</h3>
        <ul>
            <li>บันทึกรายรับ-รายจ่าย 💵: แบ่งหมวดหมู่ เพิ่มรายการประจำอัตโนมัติ</li>
            <li>วิเคราะห์การใช้เงิน 💡: ดูสรุปรายรับ-รายจ่าย พร้อมกราฟ</li>
            <li>เป้าหมายทางการเงิน ❗: ตั้งเป้าหมายพร้อมทำภารกิจและรับรางวัล</li>
        </ul>
    </div>
</div>
{% endblock %}