{% extends "base.html" %}

{% block content %}

<style>
    .button-css {
        border-radius: 25px;
        width: 100%; /* ทำให้ปุ่มเต็มความกว้างในอุปกรณ์ที่หน้าจอเล็ก */
        height: 7vh;
        background-color: #95afc4;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 7vh;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    .button-css:hover {
        background-color: #6b7e8f;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }

    .button-css:active {
        background-color: #6b7e8f;
        transform: scale(0.98);
    }

    .chart {
        background-color: #ABC9E8;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-color: #95afc4;
    }

    /* ปรับให้แสดงผลได้ดีในมือถือ */
    .form-control {
        border-radius: 25px;
        border-color: #95afc4;
    }

    .toDeafault {
        color: #000000;
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
    }

    .toDeafault:hover {
        color: #000000;
    }
    /* ปรับ layout สำหรับมือถือ */
@media (max-width: 768px) {
    /* ปรับขนาดของ container สำหรับกราฟ */
    .chart {
        width: 100%; /* ให้เต็มความกว้าง */
        height: 35% !important; /* ให้ความสูงปรับตามขนาดกราฟ */
        display: flex;
        flex-direction: column; /* วางกราฟในแนวตั้ง */
        justify-content: space-between; /* ให้กราฟแต่ละตัวมีพื้นที่ระหว่างกัน */
        padding: 10px;
    }

    /* ปรับขนาดของ canvas ให้แสดงได้พอดีในมือถือ */
    canvas {
        width: 100% !important; /* กำหนดให้กราฟเต็มความกว้าง */
        height: 35vh !important; /* กำหนดความสูงกราฟ (ปรับตามความเหมาะสม) */
        margin-bottom: 10px; /* เพิ่มระยะห่างระหว่างกราฟ */
    }
    .toDeafault {
        color: #000000;
        text-align: center !important;
    }

    /* ปรับให้แสดงข้อความ "No data" อยู่กลางหน้าจอ */
    #no-data-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2em;
        font-weight: bold;
    }
    .d-flex {
        flex-direction: column; /* จัดให้ปุ่มแสดงในแนวตั้ง */
        align-items: stretch; /* ทำให้ปุ่มเต็มความกว้าง */
    }

    .button-css {
        width: 100%; /* ปรับให้ปุ่มเต็มความกว้าง */
        margin-bottom: 10px; /* เพิ่มระยะห่างระหว่างปุ่ม */
        height: 8vh; /* ปรับความสูงของปุ่มให้เหมาะสม */
    }

    .w-50 {
        width: 48%; /* ให้แต่ละส่วนมีความกว้าง 48% ของหน้าจอ */
        margin-right: 4%; /* เพิ่มระยะห่างระหว่างสองส่วน */
    }

    .w-50:last-child {
        margin-right: 0; /* เอาระยะห่างออกจากช่องสุดท้าย */
    }

    .form-control, .form-select {
        width: 100%; /* ปรับให้ช่องเลือกและปฏิทินมีความกว้างเต็มพื้นที่ */
    }
}

</style>

<body>
    <div>
        <div class="d-flex justify-content-end align-items-center" style = "flex-direction: row; align-items: start;">
            <!-- ปฎิทิน -->
            <div class="p-1 w-25">
                <input type="date" id="date-select" class="form-control" onchange="applyFilter()">
            </div>
            <!-- ปุ่มเลือก wallet -->
            <div class="p-1">
                <select id="wallet-select" class="form-select button-css" onchange="applyFilter()">
                    {% if wallets %}
                    {% for wallet in wallets %}
                    <option value="{{ wallet.id }}">{{ wallet.wName }}</option>
                    {% endfor %}
                    {% else %}
                    <option value="" disabled>No Wallets Available</option>
                    {% endif %}
                </select>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <a href="#" onclick="resetFilters()" class="pe-auto toDeafault global_text">คืนค่าการกรองเริ่มต้น</a>
        </div>
    </div>
    
    <div class="h-100">
        <div class="d-flex p-2 justify-content-center">
            <button class="button-css m-1" onclick="applyFilter('IncomeVsExpensesChart')">อัตราส่วนรายรับรายจ่าย</button>
            <button class="button-css m-1" onclick="applyFilter('IncomeChart')">รายรับแสดงตามหมวดหมู่</button>
            <button class="button-css m-1" onclick="applyFilter('ExpensesChart')">รายจ่ายแสดงตามหมวดหมู่</button>
            <button class="button-css m-1" onclick="applyFilter('sevenDaysChart')">เงินสุทธิก่อนหน้า 7 วัน</button>
        </div>

        <div class="chart h-75 d-flex justify-content-center align-items-center" style="border-radius: 30px;">
            <div id="no-data-message" class="text-center" style="display: none;">
                <h5 class="mt-3 fw-bold global_text">No data</h5>
            </div>
            <canvas id="IncomeVsExpensesChart" class="h-100 w-75"></canvas>
            <canvas id="IncomeChart" class="h-100 w-75 fw-bold" style="display: none;"></canvas>
            <canvas id="ExpensesChart" class="h-100 w-75 fw-bold" style="display: none;"></canvas>
            <canvas id="sevenDaysChart" class="h-100 w-75 fw-bold" style="display: none;"></canvas>
        </div>
    </div>
</body>


<script>
    window.onload = function () {
        resetForm();
        applyFilter();
    };

    function showChart(chartId) {
        const charts = document.querySelectorAll('canvas');
        charts.forEach(chart => {
            chart.style.display = 'none';
        });

        const selectedChart = document.getElementById(chartId);
        if (selectedChart) {
            selectedChart.style.display = 'block';
        } else {
            document.getElementById('IncomeVsExpensesChart').style.display = 'block';
        }
    }

    function resetForm() {
        const defaultDate = new Date();
        const year = defaultDate.getFullYear();
        const month = String(defaultDate.getMonth() + 1).padStart(2, '0');
        const day = String(defaultDate.getDate()).padStart(2, '0');
        const formattedDate = `${year}-${month}-${day}`;
        document.getElementById("date-select").value = formattedDate;
        document.getElementById("wallet-select").selectedIndex = 0;  // รีเซ็ต wallet-select
    }

    function resetFilters() {
        resetForm();
        applyFilter('IncomeVsExpensesChart');
    }


    function showChart(chartId) {
        const charts = document.querySelectorAll('canvas');
        charts.forEach(chart => {
            chart.style.display = 'none';
        });

        const selectedChart = document.getElementById(chartId);
        if (selectedChart) {
            selectedChart.style.display = 'block';
        } else {
            document.getElementById('IncomeVsExpensesChart').style.display = 'block';
        }
    }

    function loadDataForLastSevenDays(selectedDate) {
        const walletId = document.getElementById("wallet-select").value;
        if (!walletId) {
            console.error("No wallet selected.");
            return;
        }

        const balanceList = new Array(7);
        const dateList = [];
        const dayList = [];
        for (let i = 0; i < 7; i++) {
            const date = new Date(selectedDate);
            date.setDate(date.getDate() - i);
            dayList.push(date.toISOString().split('T')[0]);
        }

        const fetchPromises = dayList.map((date, index) => {
            const params = new URLSearchParams({ wallet_id: walletId, date: date });
            return fetch(`/analysis/?${params.toString()}`, { method: 'GET' })
                .then(response => response.ok ? response.json() : Promise.reject('Error'))
                .then(data => {
                    const balance = calculateBalance(data.statement);
                    balanceList[index] = balance;
                    dateList[index] = date;
                })
                .catch(error => {
                    console.error(`Error fetching data for ${date}:`, error);
                    balanceList[index] = 0;
                    dateList[index] = date;
                });
        });

        Promise.all(fetchPromises)
            .then(() => {
                dateList.reverse();
                balanceList.reverse();
                createLineChart(balanceList, dateList);
            })
            .catch(error => console.error("Error in fetching data:", error));
    }

    function calculateBalance(statement) {
        let income = 0, outcome = 0;
        if (statement && statement.length > 0) {
            statement.forEach(item => {
                if (item.type === 'in') income += parseFloat(item.amount);
                if (item.type === 'out') outcome += parseFloat(item.amount);
            });
            return income - outcome;
        }
        return 0;
    }


    function applyFilter(chartId) {
        const walletId = document.getElementById("wallet-select").value;
        const selectedDate = document.getElementById("date-select").value || document.getElementById("date-select").defaultValue;

        if (walletId || selectedDate) {
            const params = new URLSearchParams();
            if (walletId) params.append('wallet_id', walletId);
            if (selectedDate) params.append('date', selectedDate);
            fetch(`/analysis/?${params.toString()}`, { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    const charts = ['IncomeVsExpensesChart', 'IncomeChart', 'ExpensesChart', 'sevenDaysChart'];
                    let hasData = false;

                    if (data.statement && data.statement.length > 0) {
                        let income = 0, outcome = 0;
                        let incomeCategories = {}, expenseCategories = {};

                        data.statement.forEach(statement => {
                            if (statement.type === 'in') {
                                income += parseFloat(statement.amount);
                                incomeCategories[statement.category] = (incomeCategories[statement.category] || 0) + parseFloat(statement.amount);
                            } else if (statement.type === 'out') {
                                outcome += parseFloat(statement.amount);
                                expenseCategories[statement.category] = (expenseCategories[statement.category] || 0) + parseFloat(statement.amount);
                            }
                        });

                        updateIncomeVsExpensesChart(income, outcome);
                        updateIncomeChart(incomeCategories);
                        updateExpensesChart(expenseCategories);
                        loadDataForLastSevenDays(selectedDate);

                        hasData = true;
                    }

                    if (!hasData) {
                        document.getElementById('no-data-message').style.display = 'block';
                        charts.forEach(chartId => {
                            document.getElementById(chartId).style.display = 'none';
                        });
                    } else {
                        document.getElementById('no-data-message').style.display = 'none';
                        showChart(chartId);
                    }
                })
                .catch(error => {
                    console.error("Error in applying filter:", error);
                });
        }
    }



    function updateIncomeVsExpensesChart(income, outcome) {
        const ctx = document.getElementById('IncomeVsExpensesChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Income', 'Outcome'],
                datasets: [{
                    label: 'Income vs Outcome',
                    data: [income, outcome],
                    backgroundColor: ['rgba(75, 192, 192, 0.7)', 'rgba(255, 99, 132, 0.7)'],
                    borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)'],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                legend: {
                    labels: {
                        fontSize: 30, // ขนาดฟอนต์ใน legend
                        fontStyle: 'bold', // ตั้งฟอนต์เป็น bold
                        fontColor: 'black' // สีฟอนต์
                    }
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            fontSize: 20, // ขนาดฟอนต์ในแกน x
                            fontStyle: 'bold', // ฟอนต์หนาในแกน x
                            fontColor: 'black' // สีฟอนต์ในแกน x
                        },
                        ticks: {
                            fontSize: 14, // ขนาดฟอนต์ใน ticks ของแกน x
                            fontStyle: 'bold', // ฟอนต์หนาใน ticks ของแกน x
                            fontColor: 'black' // สีฟอนต์ใน ticks ของแกน x
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            fontSize: 20, // ขนาดฟอนต์ในแกน y
                            fontStyle: 'bold', // ฟอนต์หนาในแกน y
                            fontColor: 'black' // สีฟอนต์ในแกน y
                        },
                        ticks: {
                            fontSize: 14, // ขนาดฟอนต์ใน ticks ของแกน y
                            fontStyle: 'bold', // ฟอนต์หนาใน ticks ของแกน y
                            fontColor: 'black' // สีฟอนต์ใน ticks ของแกน y
                        }
                    }]
                }
            }
        });
    }



    function updateIncomeChart(incomeCategories) {
        const ctx = document.getElementById('IncomeChart').getContext('2d');
        const labels = Object.keys(incomeCategories);
        const data = Object.values(incomeCategories);
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: ['rgba(75, 192, 192, 0.7)', 'rgba(153, 102, 255, 0.7)', 'rgba(255, 159, 64, 0.7)'],
                    borderColor: ['rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                legend: {
                    labels: {
                        fontSize: 30, // ขนาดฟอนต์ใน legend
                        fontStyle: 'bold', // ตั้งฟอนต์เป็น bold
                        fontColor: 'black' // สีฟอนต์
                    }
                },
            }
        });
    }

    function updateExpensesChart(expenseCategories) {
        const ctx = document.getElementById('ExpensesChart').getContext('2d');
        const labels = Object.keys(expenseCategories);
        const data = Object.values(expenseCategories);
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: ['rgba(75, 192, 192, 0.7)', 'rgba(153, 102, 255, 0.7)', 'rgba(255, 159, 64, 0.7)'],
                    borderColor: ['rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                legend: {
                    labels: {
                        fontSize: 30, // ขนาดฟอนต์ใน legend
                        fontStyle: 'bold', // ตั้งฟอนต์เป็น bold
                        fontColor: 'black' // สีฟอนต์
                    }
                },
            }
        });
    }

    function createLineChart(balanceList, dateList) {
        const ctx = document.getElementById('sevenDaysChart').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: dateList,
                datasets: [{
                    label: 'Balance',
                    data: balanceList,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: { title: { display: true, text: 'Date' } },
                    y: { title: { display: true, text: 'Balance' } }
                },
                legend: {
                    labels: {
                        fontSize: 30, // ขนาดฟอนต์ใน legend
                        fontStyle: 'bold', // ตั้งฟอนต์เป็น bold
                        fontColor: 'black' // สีฟอนต์
                    }
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            fontSize: 20, // ขนาดฟอนต์ในแกน x
                            fontStyle: 'bold', // ฟอนต์หนาในแกน x
                            fontColor: 'black' // สีฟอนต์ในแกน x
                        },
                        ticks: {
                            fontSize: 14, // ขนาดฟอนต์ใน ticks ของแกน x
                            fontStyle: 'bold', // ฟอนต์หนาใน ticks ของแกน x
                            fontColor: 'black' // สีฟอนต์ใน ticks ของแกน x
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            fontSize: 20, // ขนาดฟอนต์ในแกน y
                            fontStyle: 'bold', // ฟอนต์หนาในแกน y
                            fontColor: 'black' // สีฟอนต์ในแกน y
                        },
                        ticks: {
                            fontSize: 14, // ขนาดฟอนต์ใน ticks ของแกน y
                            fontStyle: 'bold', // ฟอนต์หนาใน ticks ของแกน y
                            fontColor: 'black' // สีฟอนต์ใน ticks ของแกน y
                        }
                    }]
                }
            }
        });
    }

</script>

{% endblock %}