{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <title>{% block title %}CatchCASH{% endblock %}</title>
</head>

<body>
    <!-- Sidebar and Content -->
    <div class="d-flex vh-100">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 sidebar vh-100">
            <div class="p-3">
                <!-- User Info -->
                <div class="text-center mb-3">
                    <img src="{{ user.account.profile_pic.url }}" alt="Profile Picture" class="rounded-circle mb-3" style="width: 80px; height: 80px;">
                    <h5 class="text-black">{{ user.account.name }}</h5>
                </div>
                
                <!-- Navigation Links -->
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link h4 text-dark" href="main">Home</a></li>
                    <li class="nav-item"><a class="nav-link h4 text-dark" href="analysis">Analysis</a></li>
                    <li class="nav-item"><a class="nav-link h4 text-dark" href="progression">Progression</a></li>
                    <li class="nav-item"><a class="nav-link h4 text-dark" href="trophy">Trophy</a></li>
                    <li class="nav-item"><a class="nav-link h4 text-dark" href="setting">Setting</a></li>
                    <li class="nav-item"><a class="nav-link h4 text-dark" href="about">About us</a></li>
                </ul>

                <!-- Logout Button -->
                <div class="text-center mt-4"> <!-- เพิ่ม margin-top เพื่อเลื่อนปุ่มลงมา -->
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-block">Logout</button>
                    </form>
                </div>
            </div>

            <!-- CatchCASH Text at the Bottom of Sidebar -->
            <div class="mt-auto text-center mb-3"> <!-- 'mt-auto' ensures it stays at the bottom -->
                <h3 class="text-black">CatchCASH</h3>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9 col-lg-10 d-flex flex-column p-4">
            {% block content %}
            <!-- Default content -->
            {% endblock %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
