<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    Test main
    
    <!-- Logout Button -->
    <form method="post" action="{% url 'logout' %}" class="d-inline ms-2"> <!-- Added ms-2 for spacing -->
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Logout</button>
    </form>
    
    <!-- Statement_Container -->
    {% extends "statement_container.html" %}
</body>
</html>