<!DOCTYPE html>
<html lang="en">

{% if 'dark' == 'dark' %}
    <link href="/static/dark.css" rel="stylesheet" type="text/css" />
{% else %}
    <link href="/static/light.css" rel="stylesheet" type="text/css" />
{% endif %}


<div class="fixHigh">
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <a class="navbar-brand px-3 text-header" href="#">CatchCash</a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-normal" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-normal" href="% url 'members' %}">Analysis</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-normal" href="% url 'members' %}">About <span class="sr-only">(current)</span> </a>
                </li>
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-normal" href="% url 'login' %}">login</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav mr-right">
                    <li class="nav-item">
                        <a class="nav-link text-normal">Logged in as {{ user.username }}</a>
                    </li>
                    <form class="form-inline my-2 my-lg-0 text-normal" action="% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-success my-2 my-sm-0 text-normal" type="submit">Logout</button>
                    </form>
                </ul>
            {% endif %}
        </div>

        <button class="fixW navbar-toggler position-absolute top-0 end-0 m-1" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <a class="navbar-toggler-icon position-absolute top-0 end-0 m-1"></a>
        </button>

    </nav>
</div>

<!-- For nav bar-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>