body {
    background-color: #2C2F33 !important;
    font-family: "Kanit", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}


/* base styles สำหรับ sidebar */
#sidebar {
    background-color: #23272A !important;
}

#mobileSidebar {
    background-color: #23272A !important;
}

hr {
    background-color: white !important;
    height: 3px !important;
}

.offcanvas-body {
    min-height: 70vh;
    padding: 20px;
    background-color: #23272A;
    box-sizing: border-box;
}


.nav-link.hover-bar {
    position: relative;
    padding-left: 30px;
    transition: all 0.3s ease-in-out;
}


.nav-link.hover-bar::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    height: 80%;
    width: 20px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.nav-link.hover-bar:hover::before {
    background-color: #F7CAC9;
}



/* ปรับพื้นที่ของ main-content ให้ไม่ถูกบัง */
.main-content {
    width: 100%;
    margin-left: 0;
    padding-right: 0;
}


/* ปรับขนาดฟอนต์สำหรับ sidebar */
.sidebar .user-info h5 {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* ปรับขนาดรูปโปรไฟล์ */
.sidebar .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* ปุ่ม logout ที่ด้านล่าง sidebar */
.logout-btn {
    position: absolute;
    bottom: 40px;
    /* เพิ่มระยะห่างจากขอบล่าง */
    left: 50%;
    transform: translateX(-50%);
}

.logout-btn a {
    display: block;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

/* ปรับรูปแบบของ user-info */
.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* ปรับระยะห่างของชื่อผู้ใช้ */
.user-info h5 {
    margin-right: 15px !important;
    /* เพิ่มระยะห่างขวาระหว่างแต่ละ h5 */
}

/* ปรับระยะห่างของปุ่ม */
.user-info a {
    margin-left: 15px !important;
    /* เพิ่มระยะห่างทางซ้ายสำหรับปุ่ม */
}

.modal-content {
    background-color: #40444b !important;
}

.list-group-item {
    background-color: #2f3136 !important;
}



/* ปรับสไตล์ของปุ่ม create_wallet */
#create_wallet {
    margin-right: 15px !important;
    margin-top: 6px !important;
    height: 39px !important;
    justify-content: end !important;
}

/* ปรับขนาดของตัวอักษร */
h2 {
    font-size: 18px;
    /* ลดขนาดของหัวข้อ */
}

p {
    font-size: 14px;
    /* ลดขนาดของข้อความ */
}

.node {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
    background-color: lightgray;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.node:hover {
    transform: scale(1.1);
}

.node.unlocked {
    background-color: lightgreen;
}

.connection {
    position: absolute;
    background-color: black;
    height: 2px;
    transform-origin: 0 0;
}

/* เพิ่มระยะห่างระหว่างกล่อง */
.col-md-6 {
    margin-bottom: 20px;
    /* เพิ่มระยะห่างระหว่างกล่อง */
}

.content {
    display: flex;
    height: 93vh;
}

.navbar {
    display: contents;
    min-height: 7vh;
}

.fixW {
    width: 100vw;
    display: contents;
}

.text-normal {
    color: #eff2f7;
}

.text-header {
    color: #a6b5d0;
}

.bg-bar {
    background-color: #29282b;
}

.abouttop {
    height: 70vh;
    overflow-y: auto;
}

.aboutbot {
    width: 100vw;
    height: 30vh;
    overflow-y: hidden;
}


/* analysis page */
.button-css {
    border-radius: 10px !important;
    width: 100% !important;
    height: 7vh !important;
    background-color: #40444b !important;
    border: none !important;
    color: white !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-align: center !important;
    line-height: 7vh !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease !important;
}


.button-css:hover {
    background-color: #2f3136;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.button-css:active {
    background-color: #2f3136;
    transform: scale(0.98);
}

.chart {
    background-color: #40444b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

/* ปรับให้แสดงผลได้ดีในมือถือ */
.form-control {
    border-radius: 25px;
    border-color: #95afc4;
}

.toDeafault {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.toDeafault:hover {
    color: #000000;
}

/* ปรับ layout สำหรับมือถือ */
@media (max-width: 768px) {

    /* ปรับขนาดของ container สำหรับกราฟ */
    .chart {
        width: 100%;
        /* ให้เต็มความกว้าง */
        height: 20px !important;
        /* ให้ความสูงปรับตามขนาดกราฟ */
        display: flex;
        flex-direction: column;

        /* วางกราฟในแนวตั้ง */
        justify-content: space-between;
        /* ให้กราฟแต่ละตัวมีพื้นที่ระหว่างกัน */
        padding: 10px;
        position: relative;
    }

    /* ปรับขนาดของ canvas ให้แสดงได้พอดีในมือถือ */
    canvas {
        width: 100% !important;
        /* กำหนดให้กราฟเต็มความกว้าง */
        height: 35vh !important;
        /* กำหนดความสูงกราฟ (ปรับตามความเหมาะสม) */
        margin-bottom: 10px;
        /* เพิ่มระยะห่างระหว่างกราฟ */
    }

    .toDeafault {
        color: #000000;
        text-align: center !important;
    }

    /* ปรับให้แสดงข้อความ "No data" อยู่กลางหน้าจอ */
    #no-data-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2em;
        font-weight: bold;

    }

    .d-flex {
        flex-direction: column;
        /* จัดให้ปุ่มแสดงในแนวตั้ง */
        align-items: stretch;
        /* ทำให้ปุ่มเต็มความกว้าง */
    }

    .button-css {
        width: 100%;
        /* ปรับให้ปุ่มเต็มความกว้าง */
        margin-bottom: 10px;
        /* เพิ่มระยะห่างระหว่างปุ่ม */
        height: 8vh;
        /* ปรับความสูงของปุ่มให้เหมาะสม */
    }

    .w-50 {
        width: 48%;
        /* ให้แต่ละส่วนมีความกว้าง 48% ของหน้าจอ */
        margin-right: 4%;
        /* เพิ่มระยะห่างระหว่างสองส่วน */
    }

    .w-50:last-child {
        margin-right: 0;
        /* เอาระยะห่างออกจากช่องสุดท้าย */
    }

    .form-control,
    .form-select {
        width: 100%;
        /* ปรับให้ช่องเลือกและปฏิทินมีความกว้างเต็มพื้นที่ */
    }
}


.global_text {
    color: white !important;
}

.progression-head {
    color: #ffffff;
    text-align: center;
}


/* about page */

.col-md-8 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4b6cb7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.col-md-8 a:hover {
    background-color: #182848;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    /* margin: 100px auto; */
    padding: 20px;
}

.profile-card {
    width: 275px;
    background-color: #40444b;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: 0.4s ease;
}

.profile-card:hover {
    transform: translateY(-10px);
}

.profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.profile-info h2 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 10px;
}

.profile-info .title {
    font-size: 19px;
    color: #fff;
}


/* mission page */
.section {
    background-color: #40444b !important;
}


/* progression page */

.connection {
    height: 2px;
    background-color: white;
    /* Thinner lines for smaller screens */
}

.menu-button {
    fill: white !important;
}

.select-container {
    position: relative;
    width: 100%;
}

.select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    /* ไม่ให้ไอคอนแทรกแซงการคลิกของ select */
}