body {
  background: linear-gradient(160deg, #dbe8f4, #dbe8f4, #e3edf6, #e8ebf0, #f8f9fb, #e3ebf1);
  font-family: verdana;
  font-size: medium;
}

.content {
  display: flex;
  height: 93vh;
}

.navbar {
  display: contents;
  min-height: 7vh;
}

.fixW{
  width: 100vw;
  display: contents;
}

.text-normal {
  color: #36404d;
}

.text-header {
  color: #4a6c9b;
}

.bg-bar {
  background-color:   #f4f6f9;
}

.abouttop {
  height: 70vh;
  overflow-y:auto;
}

.aboutbot {
  width: 100vw;
  height: 30vh;
  overflow-y:hidden;
}